[submodule "components/generic_embedded_libs"]
	path = components/generic_embedded_libs
	url = https://github.com/Maldus512/generic_embedded_libs.git
[submodule "components/I2C"]
	path = components/I2C
	url = https://github.com/Maldus512/I2C.git
[submodule "components/liblightmodbus"]
	path = components/liblightmodbus
	url = https://github.com/Jacajack/liblightmodbus.git
